<footer class="footer">
  <small>
    <a href="http://Twitter.com/">Twitter Clone</a>
    by students of the University of Wisconsin-Madison
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.google.com/">News</a></li>
    </ul>
  </nav>
</footer>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
  $(document.ready(function(){
    $('.text-submit').click(function(e){
      var form = $($(this).parent());
      var message = $(form.children('.text-message'));
      var number = $(form.children('.text-number'));
      $.ajax({
        type:"POST",
        url:"http://mhacks.lucasmullens.com/twilio/sendmessage",
        data:{
          'to':number.val(),
          'message':message.text()
        },
        success:function(data, status){
          
        }
      });
    });
  });
</script>